@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Creepster&family=Galdeano&family=Poetsen+One&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: GamersIntel --default;
 }
 
@plugin "daisyui/theme" {
  name: "GamersIntel";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #05060f;
  --color-base-200: #0b0e1c;
  --color-base-300: #141836;
  --color-base-content: #eef1ff;
  --color-primary: #8b5cf6;
  --color-primary-content: #ffffff;
  --color-secondary: #00f6ff;
  --color-secondary-content: #001417;
  --color-accent: #ff4ecd;
  --color-accent-content: #220014;
  --color-neutral: #1b2040;
  --color-neutral-content: #ffffff;
  --color-info: #4cc3ff;
  --color-info-content: #001018;
  --color-success: #1aff8c;
  --color-success-content: #002714;
  --color-warning: #ffd54f;
  --color-warning-content: #2a1d00;
  --color-error: #ff4b4b;
  --color-error-content: #2b0000;
  --radius-selector: 0.9rem;
  --radius-field: 0.9rem;
  --radius-box: 1.4rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}





html {
  scroll-behavior: smooth;
}

 .galdeano-regular {
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bitcount-single {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
a.active{
  @apply  text-secondary;
}